<div class="transactions">
    <h1>{{account?.name}}</h1>
    <div class="transaction-list">
        <div class="overlay" *ngIf="isOverlayVisible">
            <mat-spinner class="center"></mat-spinner>
        </div>
        <table class="data">
            <tr class="main-heading">
                <th class="date">Date</th>
                <th class="left-align">Description</th>
                <th class="money">Amount</th>
                <th class="left-align mapping last-column">Budget Mapping</th>
                <th class="options"></th>
            </tr>
            <tr transaction-row 
                *ngFor="let transaction of sortedTransactions" 
                [transaction]="transaction"
                [activeBudgets]="activeBudgets">
            </tr>
            <tr>
                <td colspan="4">
                    <mat-paginator [length]="totalNumberOfTransactions"
                        [pageSize]="defaultPageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="onPaginationChange($event)">
                    </mat-paginator>
                </td>
            </tr>
        </table>
    </div>
</div>