<td class="date">{{transaction.shortDate}}</td>
<td>{{transaction.name}}</td>
<td class="money">{{ transaction.amountAsDecimal | currency }}</td>
<td class="left-align mapping last-column">
    <mat-select placeholder="Not Mapped" [formControl]="budgetMappingControl" [(ngModel)]="mappingId">
        <mat-option>None</mat-option>
        <mat-optgroup *ngFor="let budget of activeBudgets" [label]="budget.name">
            <mat-option *ngFor="let item of budget.items" [value]="item.id" (click)="updateMapping()">
                {{ item.name }}
            </mat-option>
        </mat-optgroup>
    </mat-select>
</td>
<td class="options">
    <mat-icon matTooltip="Unmapped" *ngIf="isUnmapped" class="no-mapping">warning</mat-icon>
</td>