.budget-list {
    margin-right: 40px;
    background-color: #ffffff;
    border-right: 1px solid #d0d0d0;
    height: 100%;
}

.budget-list .title {
    padding-top: 25px;
    margin-bottom: 25px;
    color: #444444;
    font-size: 24px;
    text-align: center;
}

.budget-instance {
    padding-top: 0px;
}

.budget-instance:first-child { 
    border-top: none;
}

.create-budget {
    margin-top: 8px;
    float: right;
}