<div *ngIf="snapshot !== undefined">
    <div class="heading">
        <div class="name">
            <h1>{{snapshot?.budget.name}}</h1>
        </div>
        <div class="settings">
            <div>
                <button mat-icon-button 
                    matTooltip="Options"
                    [matMenuTriggerFor]="menu">
                    <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openEditDialog()"><mat-icon >edit</mat-icon>Edit</button>
                    <button mat-menu-item (click)="openDeleteConfirmDialog()"><mat-icon >delete</mat-icon>Delete</button>
                </mat-menu>
            </div>
        </div>
    </div>
    
    <table width="100%">
        <tr class="last-heading">
            <th class="left-align">Name</th>
            <th class="left-align">Description</th>
            <th class="money">Amount</th>
            <th class="money">Accumulated</th>
            <th class="money">Deposited</th>
            <th class="money">Expensed</th>
            <th class="money">Remaining</th>
        </tr>
        <tr>
            <th colspan="42" class="title">Weekly</th>
        </tr>
        <tr class="item"*ngFor="let budgetItemSnapshot of getWeeklyBudgetItems()">
            <td class="name">{{budgetItemSnapshot.budgetItem.name}}</td>
            <td class="secondary-text">{{budgetItemSnapshot.budgetItem.description}}</td>
            <td class="money">{{ asDecimalDollars(budgetItemSnapshot.budgetItem.amountPerFrequency) | currency }}</td>
            <td class="money">{{ asDecimalDollars(budgetItemSnapshot.accumulated) | currency }}</td>
            <td class="money">{{ asDecimalDollars(budgetItemSnapshot.deposited) | currency }}</td>
            <td class="money">{{ asDecimalDollars(budgetItemSnapshot.expensed) | currency }}</td>
            <td class="money positive">{{ asDecimalDollars(budgetItemSnapshot.remaining) | currency }}</td>
        </tr>
        <tr>
            <th colspan="42" class="title">Monthly</th>
        </tr>
        <tr class="item" *ngFor="let budgetItemSnapshot of getMonthlyBudgetItems()">
            <td class="name">{{budgetItemSnapshot.budgetItem.name}}</td>
            <td class="secondary-text">{{budgetItemSnapshot.budgetItem.description}}</td>
            <td class="money">{{ asDecimalDollars(budgetItemSnapshot.budgetItem.amountPerFrequency) | currency }}</td>
            <td class="money">{{ asDecimalDollars(budgetItemSnapshot.accumulated) | currency }}</td>
            <td class="money">{{ asDecimalDollars(budgetItemSnapshot.deposited) | currency }}</td>
            <td class="money">{{ asDecimalDollars(budgetItemSnapshot.expensed) | currency }}</td>
            <td class="money positive">{{ asDecimalDollars(budgetItemSnapshot.remaining) | currency }}</td>
        </tr>
        <tr>
            <th colspan="42" class="title">Total</th>
        </tr>
        <tr class="totals">
                <td></td>
                <td></td>
                <td></td>
                <td class="money">{{ asDecimalDollars(snapshot?.totalAccumulated) | currency }}</td>
                <td class="money">{{ asDecimalDollars(snapshot?.totalDeposited) | currency }}</td>
                <td class="money">{{ asDecimalDollars(snapshot?.totalExpensed) | currency }}</td>
                <td class="money positive">{{ asDecimalDollars(snapshot?.totalRemaining) | currency }}</td>
            </tr>
    </table>
</div>