.budget {
    position: relative;
    width: 100%;
}

.budget .icons {
    position: absolute;
    color: #686868;
    bottom: 5px;
    right: 5px;
}

.budget .icons .icon:hover {
    cursor: pointer;
}

.budget .icons .icon.delete:hover {
    color: #d11818;
}