<td class="cell name">{{snapshot.budgetItem.name}}</td>
<td class="cell secondary-text">{{snapshot.budgetItem.description}}</td>
<td class="cell money">{{ asDecimalDollars(snapshot.budgetItem.amountPerFrequency) | currency }}</td>
<td class="cell money">{{ asDecimalDollars(snapshot.accumulated) | currency }}</td>
<td class="cell money">{{ asDecimalDollars(snapshot.deposited) | currency }}</td>
<td class="cell money">{{ asDecimalDollars(snapshot.expensed) | currency }}</td>
<td class="cell money positive">{{ asDecimalDollars(snapshot.remaining) | currency }}</td>