.heading {
    display: flex;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.heading .name {
    flex: 80%;
}

.heading .settings {
    flex: 20%;
    text-align: right;
    margin-top: 15px;
}

.heading .settings .settings-icon {
    color: #686868;
}

table.budget-items {
    box-shadow: none;
    width: 100%;
}

.budget-item {
    display: flex;
}

.budget-item.heading {
    margin-left: 20px;
}

.budget-item .name {
    width: 150px;
}

.budget-item .description {
    width: 400px;
}


table {
    border-spacing: 0;
}

table tr th {
    color: rgba(0,0,0,.54);
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
}

table tr th,
td {
    padding-left: 15px;
}

table tr th:last-child,
td:last-child
 {
    padding-right: 15px;
}

table tr th.title {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0,0,0,.20);
}

.left-align {
    text-align: left;
}

.name {
    width: 150px;
}

.money {
    text-align: right;
    width: 90px;
}

.percent {
    text-align: center;
    width: 50px;
}

table tr.last-heading th {
    border-bottom: 1px solid rgba(0,0,0,.20);
}

td {
    padding-top: 16px;
    padding-bottom: 16px;
}

.item td {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,.20);
}

td.positive {
    color: #2E7D32;
}