.budget-item {
    display: flex;
    padding: 15px 20px;
    background-color: #ffffff;
    border-top: 1px solid #d0d0d0;
}

.budget-item .name {
    width: 150px;
}

.budget-item .description {
    width: 400px;
}