<div *ngIf="snapshot !== undefined">
    <div class="heading">
        <div class="name">
            <h1>{{snapshot?.budget.name}}</h1>
        </div>
        <div class="settings">
            <div>
                <button mat-icon-button 
                    matTooltip="Options"
                    class="settings-icon"
                    [matMenuTriggerFor]="headingMenu">
                    <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #headingMenu="matMenu">
                    <button mat-menu-item (click)="openEditDialog()"><mat-icon >edit</mat-icon>Edit</button>
                    <button mat-menu-item (click)="openDeleteConfirmDialog()"><mat-icon >delete</mat-icon>Delete</button>
                </mat-menu>
            </div>
        </div>
    </div>
    
    <table class="data">
        <tr class="main-heading">
            <th class="left-align">Name</th>
            <th class="left-align">Description</th>
            <th class="money">Amount</th>
            <th class="money">Accumulated</th>
            <th class="money">Deposited</th>
            <th class="money">Total Value</th>
            <th class="money">Expensed</th>
            <th class="money remaining last-column">Remaining</th>
            <th class="options"></th>
        </tr>
        <tr budget-section-heading 
            heading="Weekly"
            *ngIf="getWeeklyBudgetItems().length > 0">
        </tr>
        <tr budget-item 
            *ngFor="let budgetItemSnapshot of getWeeklyBudgetItems()"
            [snapshot]="budgetItemSnapshot"
            [budgetId]="budgetId">
        <tr budget-section-heading 
            heading="Monthly"
            *ngIf="getMonthlyBudgetItems().length > 0">
        </tr>
        <tr budget-item 
            *ngFor="let budgetItemSnapshot of getMonthlyBudgetItems()"
            [snapshot]="budgetItemSnapshot" 
            [budgetId]="budgetId">
        </tr>
        <tr budget-section-heading heading="Total"></tr>
        <tr class="totals">
                <td></td>
                <td></td>
                <td></td>
                <td class="money">{{ asDecimalDollars(snapshot?.totalAccumulated) | currency }}</td>
                <td class="money">{{ asDecimalDollars(snapshot?.totalDeposited) | currency }}</td>
                <td class="money">{{ asDecimalDollars(snapshot?.totalValue) | currency }}</td>
                <td class="money">{{ asDecimalDollars(snapshot?.totalExpensed) | currency }}</td>
                <td class="money positive remaining last-column">{{ asDecimalDollars(snapshot?.totalRemaining) | currency }}</td>
            </tr>
    </table>
</div>

<budget-speed-dial></budget-speed-dial>