<h2 mat-dialog-title>Create new Item</h2>
<mat-dialog-content>
    <form class="create-budget-item-form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Name" />
        </mat-form-field>
      
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>

        <label class="frequency secondary-text">Frequency</label>
        <mat-divider class="label-divider"></mat-divider>
        <mat-radio-group class="create-budget-item-radio-group">
            <!-- <mat-radio-button class="create-budget-item-radio-button" *ngFor="let frequency of frequencies" [value]="frequency.value">
              {{frequency.text}}
            </mat-radio-button> -->

            <mat-radio-button class="create-budget-item-radio-button" [value]="WEEKLY">Weekly</mat-radio-button>
            <mat-radio-button class="create-budget-item-radio-button" [value]="MONTHLY">Monthly</mat-radio-button>
        </mat-radio-group>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Create</button>
</mat-dialog-actions>