.mat-dialog-content {
    max-height: 100%;
}

.create-budget-item-radio-group {
    display: inline-flex;
    flex-direction: column;
}
  
.create-budget-item-radio-button {
    margin: 5px;
}
  
.create-budget-item-selected-value {
    margin: 15px 0;
}

.label-divider {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: rgba(0, 0, 0, 0.42);
}

label.frequency {
    padding-top: 35px;
}