.navbar {
    background-color: #242424;
    color: #ffffff;
    height: 64px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .title {
    font-size: 20px;
    line-height: 20px;
    float: left;
    margin-top: 22px;
    margin-left: 10px;
}

.navbar .links {
    float: right;
}

.navbar .links .link {
    padding: 25px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    float: left;
}

.navbar .links .link:hover {
    cursor: pointer;
    padding-bottom: 20px;
    border-bottom: 5px solid #2196f3;
}