body {
    padding: 0px;
    margin: 0px;
    background-color: #f4f4f4;
    font-family: Roboto;
    font-size: 14px;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.primary-text {
    font-size: 16px;
    line-height: 24px;
}

.secondary-text {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
}